$style18-main: #cb5050;

section.style-18 {
	.inner {
		padding: 60px 0;
	}

	.buttons {
		width: 100%;
		float: left;
		overflow: hidden;

		a {
			font-size: 12px;
			color: #000000;
			font-family: $lovelo;
			letter-spacing: 1px;
			display: inline-block;
			overflow: hidden;
			position: relative;
			z-index: 5;

			&:hover {
				color: #fff;

				span {
					padding-left: 15px;
					padding-right: 15px;

					&:before {
						@include transform(translateX(0));
					}
				}
			}

			span {
				float: left;
				padding: 10px 0;
				@include transition(all .25s);
				position: relative;

				&:before {
					content: "";
					position: absolute;
					z-index: -1;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: $style18-main;
					@include transform(translateX(-100%));
					@include transition(all .25s);
				}
			}

			i {
				padding-left: 5px;
				font-size: 17px;
			}
		}
	}

	.title-bar {
		width: 100%;
		text-align: center;
		overflow: hidden;
		margin-bottom: 60px;

		h3 {
			font-family: $lovelo;
			font-size: 35px;
			color: #000000;
			letter-spacing: 2px;

			&:after {
				content: "";
				width: 56px;
				height: 10px;
				background: url(img/style-18-title-bar-sep.png);
				background-size: 100% 100%;
				background-position: center center;
				background-repeat: no-repeat;
				display: block;
				margin: auto;
				margin-top: 15px;
			}
		}
	}

	&.services {
		.list {
			.box {
				width: 100%;
				overflow: hidden;
				margin: 5px 0;

				&:hover {
					.icon, .content .name {
						color: $style18-main;
					}
				}

				.icon {
					width: 90px;
					height: 90px;
					text-align: center;
					line-height: 85px;
					color: #111;
					font-size: 32px;
					display: block;
					border: 2px solid $style18-main;
					@include border-radius(50%);
					@include transition(all .25s);
					display: inline-block;
					position: relative;

					a.full {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
					}
				}

				.content {
					width: 100%;
					overflow: hidden;
					float: left;
					padding-top: 30px;

					.name {
						font-family: $lovelo;
						color: #000000;
						font-size: 18px;
						@include transition(all .25s);

						&:after {
							content: "";
							width: 80px;
							height: 1px;
							background: #c2c2c2;
							display: block;
							margin: 15px 0;
						}
					}

					p {
						font-size: 14px;
						line-height: 22px;
						color: #8b8b8b;
						font-weight: 600;
						margin: 0;
					}

					.buttons {
						margin-top: 15px;
					}
				}
			}
		}
	}

	&.stats {
		@include transform(translateY(50%));

		.container {
			padding: 30px 0;
		}

		.list {
			background: #fff;
			border: 2px solid $style18-main;
			text-align: center;

			.item {
				width: 25%;
				padding: 30px;
				position: relative;
				display: inline-block;
				margin-left: -4px;

				&:first-child, &:nth-of-type(5n+5) {
					&:before {
						display: none;
					}
				}

				&:before {
					content: "";
					width: 2px;
					height: 25px;
					background: #c2c2c2;
					position: absolute;
					top: 50%;
					left: 0;
					@include transform(translateY(-50%));
				}

				&:after {
					content: "";
					width: 25px;
					height: 2px;
					background: #c2c2c2;
					position: absolute;
					bottom: 0;
					left: 50%;
					@include transform(translateX(-50%));
					display: none;
				}

				h3 {
					margin: 0;
					padding: 0;
					font-size: 55px;
					line-height: 45px;
					font-family: $lovelo;
					color: #000000;
				}

				span {
					display: block;
					font-size: 14px;
					color: #000000;
					font-family: $lovelo;
					padding-top: 5px;
				}
			}
		}

		@media screen and (max-width: 768px) {
			.container {
				padding: 30px !important;
			}
		}
	}

	&.about {
		background: #f0f0f0;

		.text {
			h3 {
				font-size: 20px;
				color: #282828;
				font-family: $lovelo;
			}

			ul {
				margin: 0;
				padding: 0;
				margin: 30px 0;
				list-style: none;
				counter-reset: section;

				li {
					width: 100%;
					float: left;
					margin-bottom: 30px;
					font-size: 14px;
					color: #282828;
					line-height: 22px;
					position: relative;
					z-index: 3;

					&:before {
						counter-increment: subsection;
						content: "0" counter(subsection);
						display: block;
						font-size: 14px;
						font-family: $lovelo;
						padding-bottom: 20px;
					}

					&:after {
						counter-increment: section;
						content: "0" counter(section);
						display: block;
						font-size: 14px;
						font-family: $lovelo;
						position: absolute;
						z-index: -1;
						top: 0;
						left: 5px;
						@include transform(translate(-50%, -5px));
						font-size: 50px;
						line-height: 30px;
						color: rgba(0,0,0,0.07);
					}
				}
			}
		}

		.slider {
			width: 100%;
			height: 100%;
			float: left;
			background: #111;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				z-index: 2;
				top: -8px;
				right: -8px;
				bottom: -8px;
				left: -8px;
				border: 2px solid #fff;
			}

			.slider-wrapper {
				width: 100%;
				height: 100%;
				position: relative;
				z-index: 10;

				.slider-controls {
					width: 95px;
					height: 100%;
					float: left;
					background: #363636;
					position: relative;
					overflow: hidden;

					.slick-list, .slick-track {
						width: 100% !important;
						height: 100% !important;
					}

					.hotspot-top, .hotspot-bottom {
						width: 100%;
						height: 30px;
						position: absolute;
						left: 0;
						right: 0;
						float: left;
						cursor: default;

						&:before {
							font-family: $fontawesome;
							width: 100%;
							height: 100%;
							float: left;
							line-height: 30px;
							font-size: 19px;
							color: rgba(255,255,255,.3);
							text-align: center;
						}
					}

					.hotspot-top {
						top: 0;
						@include box-shadow(inset 0px 19px 18px -9px rgba(0,0,0,0.75));

						&:before {
							content: "\f106";
							line-height: 20px;
						}
					}

					.hotspot-bottom {
						bottom: 0;
						@include box-shadow(inset 0px -19px 18px -9px rgba(0,0,0,0.75));

						&:before {
							content: "\f107";
							line-height: 40px;
						}
					}

					.controls-inner {
						width: 100%;
						height: auto;
						float: left;
						position: relative;
						@include transition(all .5s);
					}

					a {
						width: 100% !important;
						height: 95px !important;
						text-align: center;
						line-height: 95px;
						float: left;
						color: #fff;
						font-size: 26px;

						&:hover, &.active {
							background: #cb5050;
						}
					}
				}

				.slider-slides {
					width: calc(100% - 95px);
					height: 100%;
					float: left;

					.slick-list, .slick-track {
						width: 100%;
						height: 100%;
					}

					.slide {
						width: 100%;
						height: 100%;
						float: left;
						background-size: cover;
						background-position: center center;
						@include box-shadow(inset 0px -200px 80px -40px rgba(0,0,0,0.75));
						position: relative;

						.inside {
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							padding: 30px 60px;

							h3 {
								font-size: 22px;
								font-family: $lovelo;
								color: #fff;
							}

							p {
								font-size: 14px;
								color: #fff;
								line-height: 20px;
							}
						}
					}
				}
			}
		}
	}
	
	/*&.our-team {
		.members {
			.member {
				padding-top: 40px;
				overflow: hidden;

				.image {
					width: 100%;
					height: 300px;
					@include box-shadow(inset 0 0 0 2px #000);
					position: relative;
					text-align: center;
					@include transition(all .25s);
					background-size: cover;
					background-position: center center;

					&:before {
						content: "";
						position: absolute;
						top: 6px;
						right: 6px;
						bottom: 6px;
						left: 6px;
						border: 2px solid $style18-main;
						@include opacity(0);
						@include transition(all .25s);
					}

					&.ispoppingout {
						img {
							max-width: 100%;
							max-height: 340px;
							min-height: 340px;
							@include transform(translateY(-42px));
						}
					}
				}

				.content {
					width: 100%;
					float: left;
					padding-top: 30px;
					overflow: hidden;

					&:after {
						content: "";
						width: 100%;
						height: 1px;
						background: #999;
						float: left;
						margin-top: 30px;
					}

					.name, .position, p {
						width: 100%;
						float: left;
					}

					.name {
						font-size: 18px;
						color: #000;
						font-family: $lovelo;
						@include transition(all .25s);

						&:after {
							content: "";
							width: 70px;
							height: 1px;
							background: #999;
							display: block;
							margin: 10px 0;
						}
					}
					.position {
						font-size: 14px;
						color: #000000;
					}
					p {
						font-size: 14px;
						line-height: 20px;
						color: #8b8b8b;
						padding-top: 20px;
					}
				}
				
				&:hover {
					.image {
						@include box-shadow(inset 0 0 0 2px $style18-main);

						&:before {
							@include opacity(1);
						}
					}
					.content {
						.name {
							color: $style18-main;
						}
						&:after {
							background-color: $style18-main;
						}
					}
				}
			}
		}
	}*/

	&.big-quote {
		background: #e4e4e4;
		background-size: cover;
		background-position: center center;

		.inner {
			padding: 120px 0;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(228,228,228,1) 70%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(228,228,228,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(228,228,228,1) 70%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(228,228,228,1) 70%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(228,228,228,1) 70%); /* IE10+ */
			background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(228,228,228,1) 70%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e4e4e4',GradientType=1 ); /* IE6-8 */

		}

		.actual-quote {
			position: relative;

			&:before {
				content: "\f10e";
				font-family: $fontawesome;
				font-size: 120px;
				line-height: 70px;
				color: rgba(0,0,0,0.1);
				position: absolute;
				@include transform(translate(-50%, -50%));
			}

			p {
				font-size: 22px;
				color: #636363;
				font-weight: 600;
				font-style: italic;
			}

			.who {
				float: right;
				margin-top: 20px;
				font-size: 14px;
				color: #929292;
				font-family: $lovelo;

				span {
					color: #000000;
				}
			}
		}
	}

	&.listandfaq {

		.container {
			position: relative;
		}

		.row {
			margin-left: -30px;
			margin-right: -30px;

			> div {
				padding-left: 30px;
				padding-right: 30px;
			}
		}

		.list {
			width: 100%;
			height: auto;
			background-color: #151515;
			background-size: cover;
			background-position: center center;
			overflow: hidden;

			.actual-list {
				width: 50%;
				height: 100%;
				float: left;
				background: rgba(0,0,0,.7);
				padding: 30px;

				ul {
					list-style: none;
					padding: 0;
					margin: 0;

					li {
						width: 100%;
						float: left;
						font-size: 12px;
						color: #fff;
						letter-spacing: 1px;
						font-family: $lovelo;
						padding: 15px 0;
						border-bottom: 1px solid rgba(255,255,255,.25);
						padding-left: 35px;
						position: relative;

						&:before {
							content: "\f178";
							font-family: $fontawesome;
							width: 35px;
							float: left;
							position: absolute;
							top: 50%;
							left: 0;
							@include transform(translateY(-50%));
							font-size: 20px;
						}
					}
				}
			}
		}

		.faq {
			.single {
				width: 100%;
				border: 1px solid #c2c2c2;
				border-top: none;

				&:first-child {
					border: 1px solid #c2c2c2;
				}

				&.active {
					.title {
						&:after {
							@include transform(translateY(-50%) rotate(-180deg));
						}
					}
				}

				.title {
					width: 100%;
					padding: 25px;
					padding-right: 50px;
					color: #373737;
					font-size: 12px;
					font-family: $lovelo;
					letter-spacing: 1px;
					cursor: pointer;
					position: relative;

					&:after {
						width: auto;
						content: "\f078";
						font-family: $fontawesome;
						@include transition(all .25s);
						position: absolute;
						top: 50%;
						right: 25px;
						@include transform(translateY(-50%));
					}
				}

				.content {
					display: none;
					font-size: 14px;
					color: #000000;
					padding: 25px;
					padding-top: 0;
				}
			}
		}

		.sep {
			padding: 0 !important;
			margin: 0 !important;
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			background: #cccccc;
		}
	}

	&.latest-news {
		background: #f0f0f0;
		.news {
			.box {
				padding: 15px;
				background: #fff;

				.image {
					width: 100%;
					height: 250px;
					background-size: cover;
					background-position: center center;
					overflow: hidden;

					a {
						width: 100%;
						height: 100%;
						float: left;
						@include opacity(0);
						@include transition(all .25s);

						&:hover {
							background: $style18-main;
							@include opacity(.5);
						}
					}
				}

				.content {
					overflow: hidden;

					.date {
						width: 100%;
						float: left;
						font-size: 12px;
						line-height: 1;
						color: #9e9e9e;
						font-family: $lovelo;
						letter-spacing: 1px;
						padding: 10px 0;
					}

					.title {
						width: 100%;
						float: left;
						padding: 10px 0;
						font-size: 18px;
						line-height: 1;
						color: #000000;
						font-family: $lovelo;
						border-top: 1px solid #ccc;
						border-bottom: 1px solid #ccc;

						&:hover {
							color: $style18-main;
							border-color: $style18-main;
						}
					}

					p {
						width: 100%;
						float: left;
						font-size: 14px;
						line-height: 20px;
						color: #8b8b8b;
						padding-top: 20px;
					}

					.buttons {
						margin-top: 15px;
					}
				}
			}
		}
	}

	&.contact-info {

		.row {
			text-align: center;

			> div {
				display: inline-block;
				margin-left: -4px;
				float: none;
			}

			.box {
				width: 100%;
				text-align: center;

				.icon, .icon i {
					@include transition(all .25s);
				}

				.icon {
					width: 100%;
					text-align: center;
					width: 130px;
					height: 130px;
					line-height: 140px;
					background: #fff;
					border: 2px solid #000;
					@include border-radius(50%);
					margin: auto;

					i {
						font-size: 40px;
						color: #000;
						line-height: 1;
					}
				}

				.content {
					width: 100%;
					float: left;
					color: #000;
					font-size: 20px;
					font-weight: 600;
					padding-top: 15px;

					a {
						color: #000;

						&:hover {
							color: $style18-main;
						}
					}
				}

				&:hover {
					.icon {
						@include transform(scale(.8));
						border-color: $style18-main;
						i { color: $style18-main; }
					}
				}
			}
		}
	}

	&.big-contact-info {
		background-color: #222;
		background-position: center center;
		background-size: cover;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0,0,0,.5);
		}

		.inner {
			padding: 0;
			position: relative;
			z-index: 5;
		}

		.row {
			padding: 60px 0;
			border-top: 1px solid rgba(255,255,255,.35);

			&:first-child {
				border-top: 0;
			}
		}
		.box {
			.title {
				font-size: 18px;
				color: #fff;
				font-family: $lovelo;
			}
			.content {
				padding-top: 20px;

				p.number {
					font-size: 43px;
					font-weight: 300;
					color: #ffffff !important;
				}

				p.text {
					font-size: 14px;
					color: #8b8b8b;
					font-weight: 600;
				}

				a.contact-button {
					width: 100%;
					height: auto;
					color: #fff;
					font-family: $lovelo;
					font-size: 14px;
					border: 2px solid #fff;
					float: left;

					&:hover {
						color: #111;
						span {
							&:before {
								@include transform(translateY(0));
							}
						}
					}

					span {
						width: 100%;
						padding: 15px 15px;
						float: left;
						position: relative;
						z-index: 3;
						overflow: hidden;

						.fa {
							position: absolute;
							top: 50%;
							right: 15px;
							@include transform(translateY(-50%));
						}

						&:before {
							content: "";
							position: absolute;
							z-index: -1;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							background: #fff;
							@include transform(translateY(100%));
							@include transition(all .25s);
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:992px) {
	section.style-18 {
		&.services {
			.list {
				> div {
					margin-bottom: 30px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				.box {
					text-align: center;

					.content {
						.name {
							&:after {
								margin-left: auto;
								margin-right: auto;
							}
						}
					}
				}
			}
		}

		&.stats {
			.list {
				.item {
					width: 50%;

					&:nth-of-type(3n+3), &:nth-of-type(7n+7) {
						&:before {
							display: none;
						}
					}

					&:nth-of-type(6n+6) {
						&:before {
							display: block;
						}
					}
				}
			}
		}

		&.about {
			.slider-col  {
				max-height: 9999px;
				min-height: 1px;
				height: auto !important;
				overflow: hidden;
			}
			.slider {
				margin-top: 60px;
				height: auto !important;

				.slider-wrapper {
					.slider-controls {
						width: 100%;
						height: auto !important;
						min-height: 95px;

						a {
							width: 95px !important;
							height: 95px;
							float: left;
						}
					}

					.slider-slides {
						width: 100%;
						height: auto;

						.slide {
							.inside {
								position: static;
								padding: 15px;
								padding-top: 60px;
							}
						}
					}
				}
			}
			.text {
				text-align: center;

				ul {
					li {
						&:after {
							left: 50%;
						}
					}
				}
			}
		}

		&.our-team {
			.members {

				> div {
					margin-bottom: 60px;
					float: left;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&.big-quote {
			.inner {
				padding-top: 150px;
				padding-bottom: 60px;
			}
			.actual-quote {
				&:before {
					left: 50%;
					top: 0;
					@include transform(translate(-50%, calc(-100% - 30px)));
				}
			}
		}

		&.listandfaq {
			.sep {
				width: 100%;
				height: 1px;
				position: static;
				top: auto;
				left: auto;
				margin: 60px 0 !important;
				display: block;
			}
		}

		&.latest-news {
			.news {
				> div {
					margin-bottom: 30px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&.contact-info {
			.row {
				> div {
					margin-bottom: 30px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&.big-contact-info {
			.row {
				> div {
					margin-bottom: 30px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	section.style-18 {
		&.stats {
			.list {
				.item {
					width: 100%;

					&:before {
						display: none;
					}

					&:after {
						display: block;
					}

					&:nth-last-child(1):after {
						display: none;
					}
				}
			}
		}

		&.listandfaq {
			.list {
				.actual-list {
					width: 100%;
				}
			}
		}
	}
}