section.style-8 {
	.inner {
		padding: 60px 0;
	}

	.title-bar {
		width: 100%;
		text-align: center;
		font-family: $lovelo;
		color: #6d6e70;
		position: relative;
		margin-bottom: 30px;

		h3, span {
			position: relative;
			z-index: 2;
		}

		h3 {
			display: block;
			font-size: 39px;
			font-family: $arapey;
			text-transform: uppercase;
			margin-top: 5px;
			font-weight: 300;

			b {
				font-weight: 900;
			}

			&:after {
				content: "";
				width: 60px;
				height: 3px;
				background: #6d6e70;
				display: block;
				margin: auto;
				margin-top: 20px;
			}
		}

		span {
			display: block;
			font-size: 17px;
		}
	}

	p.desc {
		text-align: center;
		color: #8b8b8b;
		font-size: 16px;
		line-height: 25px;
		font-family: $opensans;
	}

	&.galleries {
		.container {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		
		.row > div {
			margin-bottom: 15px;
			margin-top: 15px;
		}

		.gallery {
			background-size: cover;
			background-position: center center;
			height: 300px;
			background-color: #333;

			.otherimages {
				display: none;
				visibility: hidden;
			}

			.hover {
				width: 100%;
				height: 100%;
				position: relative;
				float: left;

				a {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: rgba(0,0,0,.3);

					&:before {
						content: "";
						position: absolute;
						top: 10px;
						right: 10px;
						bottom: 10px;
						left: 10px;
						border: 3px solid #fff;
					}

					&:hover {
						background: rgba(0,0,0,.5);
						@include box-shadow(inset 0 0 0 10px rgba(0,0,0,.5));
						.inside {
							.name {
								@include transform(translateY(-50%));

								.preview-icon {
									@include transform(translate(-50%, 125%));
									@include opacity(1);
								}
							}
						}
					}

					.inside {
						width: 100%;
						padding: 30px;
						position: absolute;
						top: 50%;
						left: 0;
						@include transform(translateY(-50%));
						text-align: center;

						.name {
							font-size: 39px;
							font-family: $arapey;
							color: #fff;
							text-transform: uppercase;
							letter-spacing: -0.5px;
							margin-bottom: 15px;
							position: relative;
							@include transition(all .25s);

							.preview-icon {
								display: inline-block;
								width: 55px;
								height: 55px;
								line-height: 55px;
								text-align: center;
								font-size: 18px;
								@include box-shadow(inset 0 0 0 3px #fff);
								@include border-radius(50%);
								color: #fff;
								position: absolute;
								bottom: 0;
								left: 50%;
								@include transform(translate(-50%, 200%));
								@include opacity(0);
								@include transition(all .3s);
							}
						}
					}
				}
			}
		}
	}

	&.steps {
		.box-title {
			text-align: center;
			font-size: 28px !important;
			color: #6d6e70 !important;
			letter-spacing: -0.5px;
			font-family: $arapey;
			margin-bottom: 30px;
			text-transform: uppercase;
		}

		.box {
			@include box-shadow(0 0 0 3px #e1e1e1);
			padding-top: 60px;
			padding-bottom: 60px;

			&:before {
				@include box-shadow(inset 0 0 0 3px #e1e1e1);
			}
		}
	}

	&.testimonials {
		.inner {
			//padding-top: 0;
		}
	}
}

@media screen and (max-width:768px) {
	section.style-8 {
		&.galleries {
			.gallery {
				height: 200px;
				.hover {
					.inside {
						.name {
							font-size: 24px !important;
						}
					}
				}
			}
		}

		&.testimonials {
			.classic-testimonials {
				.one {
					p {
						font-size: 18px;
					}

					.by {
						font-size: 10px;
					}
				}
			}
			.container {
				.slick-prev, .slick-next {
					position: relative !important;
					@include transform(none !important);
					top: auto !important;
					left: auto !important;
					right: auto !important;
					float: left;
					margin-top: 15px;
					-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
					-webkit-tap-highlight-color: transparent;
				}

				.slick-next {
					float: right;
				}
			}
		}
	}
}